# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
mods

access.properties
src/
!forge/src
!common/src
!fabric/src
forge/srcOld